<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>
		
		<table>
			<tr>
				<td>Título</td>
				<td>Noticia</td>
			</tr>

			<tr>
				<td>1</td>
				<td>Título da notícia</td>
				<td>Conteudo</td>
			</tr>
		</table>
	</body>
</html>